body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

canvas{
    border: 2px solid black;
    background: white;
    cursor:crosshair;
    touch-action: none;
}

.tools{
    margin-bottom: 10px;
}

button id{
    padding: 5px 10px;
    cursor: pointer;
}
